body {
  margin: 0 auto;
  max-width: 45em;
  font-size: 16px;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

hr {
    width: 100%;
    border: none;
    border-top: 2px solid #ddd;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

header {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 4vw 2em 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a{
  padding: 0.125em;
}

.active-page, nav a:hover {
  border-bottom: 2px solid #da4939
}

a i {
    padding: 10px;
}

article {
  text-align: justify;
}

article > h2, article > h2 + p.disabled  {
  text-align: center;
}

.centered {
  width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
  text-align: center;
}

.orange {
  color: #da4939;
}

.disabled{
  color: #808080;
}

.tags {
  float: right;
}

.articles-container{
  max-width: 320px;
  margin: auto;
  padding: 0 30px;
}

div.article-title {
  font-size: 18px;
}

div.article-reference {
  margin-bottom: 30px;
}

div.date {
  font-size: 16px;
  color: #999;
}

#particlesjs{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

@media screen and (max-width: 660px) {
  .centered .fa {
    zoom: 2;
  }
}
